<%= form_for @studentreg, :html => { :class => 'form-horizontal' } do |f| %>
  <div class="control-group">
    <%= f.label :firstname, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :firstname, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :middlename, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :middlename, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :lastname, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :lastname, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :address, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :address, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :dateofbirth, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :dateofbirth, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :grade, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :grade, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :division, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :division, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :gender, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :gender, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :contactnumber, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :contactnumber, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :bloodgroup, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :bloodgroup, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :dateofjoining, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :dateofjoining, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :fname, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :fname, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :fqualification, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :fqualification, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :foccupation, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :foccupation, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :fincome, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :fincome, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :fcontactnumber, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :fcontactnumber, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :femailid, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :femailid, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :mname, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :mname, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :mqualification, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :mqualification, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :moccupation, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :moccupation, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :mincome, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :mincome, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :mcontactnumber, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :mcontactnumber, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :memailid, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :memailid, :class => 'text_field' %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                studentreg_path, :class => 'btn' %>
  </div>
<% end %>
