
<div class="container">
<ul class="timeline">
<%= div_for comment do |f| %>
<li>
<div class="timeline-panel">
<div class="timeline-body" style="color:#fff"><p><%= comment.body %></p>

<span class = "badge"><%= time_ago_in_words(comment.created_at) %> ago by <%= comment.postedby %></span>

<p><%= link_to "Upvote ", like_post_comment_path(@post,comment), method: :post %>
<%= link_to " Downvote", dislike_post_comment_path(@post,comment), method: :post %></p></div>
</div></li>
<% end %>
</ul>
</div>


