<h1>New Question</h1><%= form_for(@post) do |f| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, "error") %></h2>

      <ul>
      <% @post.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :body %><br>
    <%= f.text_area :body, :rows => 10, :columns => 10 %>
  </div>
  <div class="field">
    <%= f.label :subject_tokens , "Subjects"%><br>
    <%= f.text_field :subject_tokens, "data-pre" => @post.subjects.map(&:attributes).to_json %>
  </div>
 
 <br/>
  <div class="actions">
    <%= f.submit %>
  </div>
  <script>
  $(function() {
  $("#post_subject_tokens").tokenInput("/subjects.json", {
    crossDomain: false,
    prePopulate: $("#post_subject_tokens").data("pre"),
    theme: "facebook"
    });
});
  </script>
<% end %>
