<div class = "container">

<div class="col-md-12"><h4><%= link_to_unless_current post.title, post %></h4>
<h4><%= simple_format post.body %></h4>
<span class = "badge"> Created : <%= post.created_at.strftime("%d/%m/%Y") %> by <%= post.postedby %></span>
<div>
<div > Tags : <%= raw post.tag_list.map { |t| link_to t, tag_path(t) }.join(', ') %></div>

</p>
<% if cubestudent_signed_in? %>
	<% if current_cubestudent.email == post.postedby %>
			<div class="pull-right"><%= link_to edit_post_path(post), :class => "btn btn-info btn-xs", remote: true do %> 
			<span class="glyphicon glyphicon-edit"></span> Edit <% end %>
			<%= link_to post, :confirm => "are you sure?", method: :delete, :class => "btn btn-danger btn-xs", remote: true do %>
			<i class="glyphicon glyphicon-trash"></i> Delete 
			<% end %>
		</div>
	<% end %>
<% elsif cubeteacher_signed_in? %>
	You can rate answer 
<% end %>



 <%= pluralize post.reputation_for(:votes).to_i, "vote" %>
  <% if current_cubestudent && !current_cubestudent.voted_for?(post) %>
<%= link_to vote_post_path(post.id, type: "up"), method: "post", class: "btn btn-label btn-success", remote: true do %>
 <i class="glyphicon glyphicon-thumbs-up"></i> Up
<% end %>

<%= link_to vote_post_path(post.id, type: "down"), method: "post", class: "btn btn-label btn-danger", remote: true do %>
<i class="glyphicon glyphicon-thumbs-down"></i> Down
<% end %>
<% else %>


You have already Voted

<% end %>
  </em>
  </div>
  </div>
  </div>

