<div class = "container">

<div class="col-md-12"><h4><%= link_to_unless_current post.title, post %></h4>
<p><%= simple_format post.body %></p>
<div>

<span class = "badge"> Created : <%= post.created_at.strftime("%d/%m/%Y") %> by <%= post.postedby %></span>
	</p>
	<% if current_cubestudent.email == post.postedby %>
			<div class="pull-right"><span class =" btn btn-primary"><%= link_to 'Edit', edit_post_path(post) %> </span>
			<span class="btn btn-danger"><%= link_to 'Delete', post, method: :delete %></span></div>
			</p>
	<% end %>

<% if current_cubestudent && !current_cubestudent.voted_for?(post) %>
|<%= link_to "up", vote_post_path(post, type: "up"), method:"post" %>
|<%= link_to "down", vote_post_path(post, type: "down"), method: "post" %>
<% end %>
 
