

<h4 class="timeline-title"><%= link_to_unless_current post.title, post %></h4>
<p> Created : <%= post.created_at.strftime("%d/%m/%Y") %> by <%= post.postedby %>
	</p>

<%= simple_format post.body , :class => "timeline-body"%>

<div class="post">  >
   
  
  <%= link_to "up", vote_post_path(post, type: "up"), method: "post" %>
  <%= link_to "down", vote_post_path(post, type: "down"), method: "post" %>
 
</div>