<body>

<div class="container-narrow">
  <%= link_to 'Ask Question', new_post_path , :class => "btn btn-label btn-warning"%>
  
  
</div>
<div id="tag_cloud">
<% tag_cloud Post.tag_counts, %w[s m l] do |tag, css_class| %>
<i class="btn btn-info"><%= link_to tag.name, tag_path(tag.name), class: css_class %></i>
<% end %>
<br />


</div>
<%= form_tag posts_path, :method => 'get' do %>
<%= submit_tag "Search", :name => nil , :class=> "btn btn-inverse"%><%= text_field_tag :search, params[:search]%>

<% end %>
<div class="container-fluid">
<div class="row-fluid">

<h2>Questions</h2>
	


<%= render :partial => @posts %>

</div></div>

</body>
