<body>
	<div class="container-narrow">
  
  <%= link_to 'Ask Question', new_post_path %>
  <% yield %>
</div>

<%= form_tag posts_path, :method => 'get' do %>
<%= text_field_tag :search, params[:search] %>
<%= submit_tag "Search", :name => nil %>
<% end %>

<h3>Listing questions</h3>
<%= render :partial => @posts %>
</body>
