<p id="notice"><%= notice %></p>
<p id="alert"><%= alert %></p>
<%= render :partial => @post %>
<%= link_to 'Back', posts_path %>
<h2 id="timeline">Comments</h2>
		<div>
			<%= render :partial => @post.comments %>
		</div>

		<div class="container">
			<%= form_for [@post, Comment.new] do |f| %>
			
 				<div style="padding-bottom:0">
 	
 					<%= f.text_area :body , :placeholder => "Write your comment"%>
 				 <%= f.submit "Add comment", :class => "btn btn-info" %>
 				</div>
			
			<% end %>
			</div>