<!DOCTYPE html>
<html>
<head>

<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>

  <link rel="stylesheet" href="//code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css">
  <script src="//code.jquery.com/jquery-1.9.1.js"></script>
  <script src="//code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
  <link rel="stylesheet" href="/resources/demos/style.css">
  
  <%= stylesheet_link_tag 'bootstrap' %>
  <%= stylesheet_link_tag 'token-input-facebook' %>
  <%= javascript_include_tag :default, 'jquery.tokeninput' %>
   
</head>
<body>
 

<ul >
<h3 ><%= link_to "Cube", root_path %></h3>
    <h5 >Collaborate and Understand - The best way of Education</h5>
    <div class="muted">
  <% if cubestudent_signed_in? %>
    Signed in as <%= current_cubestudent.email %>. Not you? 
    <%= link_to "Sign out", destroy_cubestudent_session_path, :method => :delete %>
    <%= link_to "Profile", new_studentreg_path %>
     
    
    <%= link_to "Question", posts_path %>
  <% else %>
    <%= link_to "Sign up", new_cubestudent_registration_path %> or <%= link_to "sign in", new_cubestudent_session_path %>
  <% end %>
</div>


</ul>
<div>
<%= yield %></div>
</body>
</html>
