<!DOCTYPE html>
<html>
<head>

<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="//code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css">
  <script src="//code.jquery.com/jquery-1.9.1.js"></script>
  <script src="//code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
  
  <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css" rel="stylesheet">
  
  <%= stylesheet_link_tag 'bootstrap', 'token-input-facebook' %>
  <%= javascript_include_tag :default, 'jquery.tokeninput' %>
   
</head>


<body>
<header >
<%= image_tag("students.png",:alt => "CUBE", :width => '200') %><%= image_tag("the-logo.jpg",:alt => "CUBE", :width => '200') %>
<%= image_tag('scale.gif',:alt => "scale", :width=> '235') %>
<%= image_tag("quick.gif",:alt => "CUBE", :width => '125', :align => 'right') %>
</header>
<a id="menu-toggle" href="#" class="btn btn-info btn-lg toggle"><i class="glyphicon glyphicon-chevron-left"></i></a>
<div id="sidebar-wrapper">
  <ul class="sidebar-nav">
    <a id="menu-close" href="#" class="btn btn-default btn-lg pull-right toggle"><i class="glyphicon glyphicon-chevron-right"></i></a>
    <% if cubestudent_signed_in? %>
    <li class="sidebar-brand">
      <a> CUBE </a>
    </li>
    <li>
      <a><%= link_to "Question", posts_path %></a>
    </li>
    <li>
      <a><%= link_to "Profile", edit_studentreg_path(current_cubestudent.studentreg) %></a>
    </li>
    <li>
      <a><%= link_to "Sign out", destroy_cubestudent_session_path, method: :delete %></a>
    </li>
     <% elsif cubeteacher_signed_in? %>
    <li>
      <a><%= link_to "Question", posts_path %></a>
    </li>
    <li>
      <a><%= link_to "Assignment Upload",assignments_path %></a>
    </li>
    <li>
      <a><%= link_to "Sign out", destroy_cubeteacher_session_path, method: :delete %></a>
    </li>
<% end %>
  </ul>
</div>
  <div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
        <a class="btn btn-navbar">
        <span class="icon-th-list"></span></a>
               
        <div class="nav-collapse collapse">
            <ul class="nav pull-right">
            
                <li><%= link_to "Home" , root_path %></li>
                <li><%= link_to "About Us", about_path %></li>
                <li><%= link_to "Contact Us", contactus_path %></li>
                <% if cubestudent_signed_in? %>
                <li><%= current_cubestudent.email %></li>
                 <% elsif cubeteacher_signed_in? %>
                 <li><%= current_cubeteacher.email %></li>
                 <% else %>
    <li><%= link_to "Sign up", new_cubestudent_registration_path %></li> <li> <%= link_to "sign in", new_cubestudent_session_path %></li>
  <% end %>
            </ul>
            </div>
        </div>
    </div>
</div>

  


</ul>

<div class="container-fluid"><div class="span15 well ">
<%= yield %></div></div>

<div class="container">
    <div class="row-fluid">
        <div class="span4">
            <p>&copy; 2014 BotreeConsulting</p>
        </div>
        <div class="span4 text-center">
            <ul class="nav inline">
                <li><%= link_to "About Us", about_path, :class => "btn btn-label btn-inverse" %></li>
                <li><%= link_to "Contact Us", contactus_path,:class =>"btn btn-label btn-inverse"%></li>
                <li><%= link_to "Privacy Policy",root_path, :class => "btn btn-label btn-inverse"%></li>
            </ul>
        </div>
        
    </div>
</div>
<script>
  $("#menu-close").click(function(e) {
    e.preventDefault();
    $("#sidebar-wrapper").toggleClass("active");
  });
  $("#menu-toggle").click(function(e) {
    e.preventDefault();
    $("#sidebar-wrapper").toggleClass("active");
  });
</script>
</body>
</html>
