<!DOCTYPE html>
<html>
<head>
  <title>Project</title>
  
  <%= csrf_meta_tags %>
</head>
<body>
<ul class="nav nav-pills pull-right">
<h3 class="muted"><%= link_to "Cube", root_path %></h3>
    <h5 class="muted">Collaborate and Understand - The best way of Education</h5>
  <% if cubestudent_signed_in? %>
    Signed in as <%= current_cubestudent.email %>. Not you?
    <%= link_to "Sign out", destroy_cubestudent_session_path, :method => :delete %>
    <%= link_to "Profile", new_studentreg_path %>
    <%= link_to "Question", posts_path %>
  <% else %>
    <%= link_to "Sign up", new_cubestudent_registration_path %> or <%= link_to "sign in", new_cubestudent_session_path %>
  <% end %>


</ul>
<div>
<%= yield %></div>
</body>
</html>
