<!DOCTYPE html>
<html>
<head>

<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="//code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css">
  <script src="//code.jquery.com/jquery-1.9.1.js"></script>
  <script src="//code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
  <script src="../assets/bootstrap.js"></script>
  
  <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css" rel="stylesheet">
  
  <%= stylesheet_link_tag 'bootstrap'%>
  <%= javascript_include_tag :default %>
  <script src="assets/jquery.min.js"></script>
<link rel="stylesheet" href="/assets/style.css">
   <script type="text/javascript" src="../assets/menu.js"></script>
</head>


 
<!--A Design by W3layouts
Author: W3layout
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->

<body>
<div class="content" id="home">
<img src="../assets/logo.png" alt="CUBE" align="center" />
  
    
          
          <% if cubestudent_signed_in? %><div class="header"><div class="wrap"><header id="topnav">
          

          <nav>
                <ul>
                <li class="active">
                <div class="destacados">
                <div>
                <div><img src="../assets/studentprofile.png" alt="welcome" width="145" href="#" class="scroll" />
                <%= link_to "Profile",studentregs_new_path %></div></div></div> </li>
                <li><div class="destacados">
                <div>
                <div><img src="../assets/students.png" alt="About" width="200"/><%= link_to "Questions", posts_path %>
                </div></div></div> </li>
                <li><div class="destacados">
                <div>
                <div><img src="../assets/studentassignment.png" alt="Help" width="175"/><%= link_to "Assignments", assignments_path %>
                </div></div></div></li>
                <li><div class="destacados">
                <div>
                <div><img src="../assets/studentsignout.png" alt="About" width="155"/><%= link_to "Log out", destroy_cubestudent_session_path %>
                </div></div></div></li>
                <li><div class="destacados">
                <div>
                <div><a><%= current_cubestudent.email %> (<%= current_cubestudent.points %>)</a>
                </div></div></div></li>  
                
                <div class="clear"> </div>
              </ul>
              </nav><a href="#" id="navbtn">Nav Menu</a>
              <div class="clear"> </div>
            </header></div></div>
              <% elsif cubeteacher_signed_in? %><div class="wrap"><header id="topnav">
              <nav>
                <ul>
                <li class="active">
                <div class=" destacados">
                <div>
                <div><img src="../assets/teacherprofile.png" alt="welcome" width="145" />
                <%= link_to "Profile", teacherregs_new_path %></div></div></div> </li>
                <li><div class="destacados">
                <div>
                <div><a><img src="../assets/teacherquestion.png" alt="questions" width="200"/><%=link_to "Questions" , posts_path %></a>
                </div></div></div> </li>
                <li><div class="destacados">
                <div>
                <div><a><img src="../assets/teacherassign.png" alt="Assignment" width="175"/><%= link_to "Assignments", assignments_path %></a>
                </div></div></div></li>
                <li><div class="destacados">
                <div>
                <div><a><img src="../assets/teachersignout.png" alt="Signout" width="145"/><%= link_to "Sign Out", destroy_cubeteacher_session_path %></a>
                </div></div></div></li>
                <li>
                <div><a><%= current_cubeteacher.email %> </a>
                </div></div></div></li>  
                
                <div class="clear"> </div>
              </ul>
              </nav><a href="#" id="navbtn">Nav Menu</a>
              <div class="clear"> </div>
            </header></div></div>
              <% else %><div class="header"><div class="wrap">
              <header id="topnav">
              <nav>
                <ul>
                <li class="active">
                <div class=" destacados">
                <div>
                <div><img src="../assets/House Clip Art.gif" alt="welcome" width="145" href="#" class="scroll" />
                <%= link_to "Home",root_path, :class => "scroll"%></div></div></div> </li>
                <li><div class="destacados">
                <div>
                <div><a href="#team" class="scroll"><img src="../assets/students.png" alt="About" width="200"/><br>About Us</a>
                </div></div></div> </li>
                <li><div class="destacados">
                <div>
                <div><a href="#ourstory" class="scroll"><img src="../assets/help.png" alt="Help" width="175"/><br>Help</a>
                </div></div></div></li>
                <li><div class="destacados">
                <div>
                <div><a href="#blog" class="scroll"><img src="../assets/actors.jpg" alt="About" width="185"/><br>Actors</a>
                </div></div></div></li>
                <li><div class="destacados">
                <div>
                <div><a href="#contact" class="scroll"><img src="../assets/contact.gif" alt="About" width="140"/><br>Contact</a>
                </div></div></div></li>  
                
                <div class="clear"> </div>
              </ul>
              </nav><a href="#" id="navbtn">Nav Menu</a>
              <div class="clear"> </div>
            </header></div></div>
               <% end %>
              
    
    </div>
<div class="container-fluid"><div><%=alert %></div>
<div class=="notice"><%= notice %></div><%= yield %></div>
<div class="footer">
          <div class="wrap">
             <div class="footer-con">

                <div class="footer-right">
                  <ul>
                    <li class="active"><a href="#home" class="scroll">Home</a></li>
                    <li><a href="#team" class="scroll">About Us</a></li>
                    <li><a href="#ourstory" class="scroll">Help</a></li>
                    <li><a href="#blog" class="scroll">Actors of this Application</a></li>
                    <li><a href="#contact" class="scroll">Contact</a></li>                
                    <div class="clear"> </div>
                  </ul>
                </div>
                  <div class="footer-left">
                    <p> 2014 &#169; by <a href="#">BoTree Consulting</a></p>

                  </div>                
                <div class="clear"> </div>
            </div>
            
          </div>
        
        </div>
        
          
          
        </body>
</html>
 
