<!DOCTYPE html>
<html>
<head>
  <title>Project</title>
  <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
  
  <%= csrf_meta_tags %>
</head>
<body>
<ul class="nav nav-pills pull-right">
  <% if cubestudent_signed_in? %>
    <li><%= link_to "Sign out", destroy_cubestudent_session_path, :method => :delete %></li>
    <li><%= link_to "Ask Question", new_post_path %>
  <% else %>
    <li><%= link_to "Sign in", new_cubestudent_session_path %></li>
    <li><%= link_to "Sign up", new_cubestudent_registration_path %></li>
  <% end %>
</ul>
<%= yield %>

</body>
</html>
