<!DOCTYPE html>
<html>
<head>
<<<<<<< HEAD
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>

  <link rel="stylesheet" href="//code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css">
  <script src="//code.jquery.com/jquery-1.9.1.js"></script>
  <script src="//code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
  <link rel="stylesheet" href="/resources/demos/style.css">
  
  <%= stylesheet_link_tag  'bootstrap', :media => 'screen' %>
  <%= javascript_include_tag "application" %>
=======
  <title>Project</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  
>>>>>>> d667fd1fd512f4fdb606b48b0bd96ade272b7c7d
  <%= csrf_meta_tags %>
</head>
<body>
 
<%= yield %>

</body>
</html>
